*{
  box-sizing: border-box;
  margin: 0;
}

body{
  position: relative;
  margin: 0;
  min-height: 100vh;
  min-width: 100vh;
  background-image: url(../background.jpg);
  backdrop-filter: brightness(70%) blur(10px);
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.header{
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  color: rgb(255, 255, 255);
  margin-bottom: 60px;
  gap: 100px;
}

.header > p{
  font-size: 25px;
  margin: 20px 0;
  background-color: pink;
  padding: 10px 20px;
  color: rgb(111, 34, 107);
  text-align: center;
  justify-content: center;
}

.header > h1 {
  font-size: 60px;
  background-color: rgb(111, 34, 107);
  color: pink;
  padding: 0 20px;
}
.board{
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  height: 400px;
  gap: 50px;
  transform-style: preserve-3d;
  perspective: 500px;
  color: rgb(111, 34, 107);
  font-size: 50px;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
}
.background{
  background-color: pink;
}

.card-block{
  position: relative;
  width: 100px;
  height: 100px;
  font-size: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(248, 182, 216);
  transition: .3s ease-in-out;
  transform: rotateY(180deg);
}

.disabled{
  pointer-events: none;
}


.card-block.cardFront{
  transform: rotateY(0deg);
}

.card-block::after{
  content: '';
  position: absolute;
  inset: 0;
  background-color:pink;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .3s ease-in-out;
  transform: rotateY(0deg);
  backface-visibility: hidden;
}



.cardFront::after{
  transform: rotateY(180deg);
}

.buttons{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.start-button, .restart-button{
  border: none;
  background-color: pink;
  color: rgb(111, 34, 107);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 30px;
  cursor: pointer;
  margin-top: 60px;
  padding: 10px 30px;

}

.v-popup, .f-popup{
  transform: translate(-50%, -50%) scale(0.1);
  top: 0;
  left: 50%;
  position: absolute;
  width: 400px;
  height: 200px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  visibility: hidden;
  transition: .3s ease-in-out;
  background-color: rgb(255, 225, 185);
  border: 2px solid rgb(145, 110, 62);
}

.open-popup{
  visibility: visible;
  top: 45%;
  transform: translate(-50%, -50%) scale(1);
}

.fail-icon{
  width: 110px;
  margin-top: -80px;
}

.lost-p{
  font-size: 45px;
  color: rgb(111, 34, 107);
  text-shadow: 2px 2px 4px rgb(255, 110, 110);

}

.win-p{
  font-size: 45px;
  color: rgb(111, 34, 107);
  text-shadow: 2px 2px 4px rgb(255, 110, 110);
}

.victory-icon{
  width: 100px;
  margin-top: -70px;
}

.try-again-btn{
  padding: 10px 20px;
  margin-top: 10px;
  box-shadow: 2px 2px 3px rgb(145, 110, 62);
  border-radius: 30px;
  border: 1px solid rgb(250, 114, 114);
  background-color: rgb(255, 110, 110) ;
  cursor: pointer;
  font-size: 15px;
  transition: .3s ease-in-out;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif

}

.try-again-btn:hover{
  background-color: rgb(216, 255, 222);
}
.play-again-btn{
  padding: 10px 20px;
  margin-top: 10px;
  box-shadow: 2px 2px 3px rgb(145, 110, 62);
  border-radius: 30px;
  border: 1px solid rgb(250, 114, 114);
  background-color: rgb(216, 255, 222);
  transition: .3s ease-in-out;
  cursor: pointer;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 15px;

}

.play-again-btn:hover{
  background-color: rgb(255, 110, 110) ;
}


.blured-container{
  filter: blur(10px) brightness(60%);
}

.container{
  transition: .3 ease-in-out;
}

footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: right;
  margin: 30px 30px 0 0;
  color:rgb(248, 182, 216);
  font-size: 15px;
}

a{
  text-decoration: none;
  font-size: 20px;
  color: rgb(111, 34, 107);
  cursor: pointer;
}

.a-img{ 
  transform: translate(-50%, -50%) scale(0.05);
  bottom: 100px;
  left: 50%;
  position: absolute;
  display: flex;
  visibility: hidden;
  transition: .3s ease-in-out;
  border: 4px solid rgb(249, 141, 159);
  box-shadow: 0 0 300px rgb(0, 0, 0);
  border-radius: 200px;
  cursor: pointer;
}

.make-bigger{
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%) scale(.4);
}